body {
  background-image: URL(https://cdn.statically.io/img/gateway.ipfs.io/ipfs/uAXAAMBIqChgBcBEUKQ943YVd34dWm0AahZN_qi6gjRwSCmFudC1iZy5qcGcYoZAKCgIIAQ/ant-bg.jpg);
  background-size: 100%;
}
.hero {
  max-width: 90%;
  margin: auto;
  filter: invert(100%);
}
.markdown-body {
  max-width: 90%;
  margin: auto;
  margin-top: 5vh;
  padding: 0.8rem;
  background-color: white;
  opacity: 82%;
}

